/* 
scss 写法
@mixin wordcolor {
  color: red;
}
// 伪元素
@mixin weiyuansu($width, $height) {
  content: "";
  display: block;
  width: $width;
  height: $height;
  visibility: hidden;
}

@mixin backgroundStyle($url) {
  background: url($url);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@mixin backgroundCoverStyle($url) {
  background: url($url);
  background-size: cover;
  background-repeat: no-repeat;
}
*/
/* 要引入混入的东西 */
* {
  cursor: url("../mouceIcon.png"), default;
  /* 鼠标样式设置 */
  margin: 0;
  padding: 0;
  /* 全局滚动条设置 */
  /* scroll轨道背景 */
  /* 滚动条中能上下移动的小块 */
}
*::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  /* shadow: inset 0 0 6px rgba(0,0,0,0.3);   */
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  /* shadow: inset 0 0 6px rgba(0,0,0,.3);   */
  background-color: #cdcdcd;
}
.pointer {
  cursor: url("../img/mousepoint.png") 20 5, pointer !important;
  position: relative;
  right: 5px;
}
@font-face {
  font-family: "旁门正道标题体";
  src: url("../font/庞门正道标题体.ttf");
}
@font-face {
  font-family: "优设标题黑";
  src: url("../font/优设标题黑.ttf");
}
@font-face {
  font-family: "Digital-7Mono";
  src: url("../font/Digital-7Mono.TTF");
}
@font-face {
  font-family: "DigitsDB-Normal";
  src: url("../font/DigitsDB-Normal.ttf");
}
@font-face {
  font-family: "DIN-BoldItalicAlt";
  src: url("../font/DIN-BoldItalicAlt.otf");
}
@font-face {
  font-family: "DIN-Light";
  src: url("../font/DIN-Light.otf");
}
@font-face {
  font-family: "DIN-Medium";
  src: url("../font/DIN-Medium.otf");
}
@font-face {
  font-family: "DIN-Regular";
  src: url("../font/DIN-Regular.otf");
}
@font-face {
  font-family: "DINEngschrift-Alternate";
  src: url("../font/DINEngschrift-Alternate.otf");
}
@font-face {
  font-family: "DS-Digital-Bold-Italic";
  src: url("../font/DS-Digital-Bold-Italic.ttf");
}
@font-face {
  font-family: "FZZZHONGJ";
  src: url("../font/FZZZHONGJ.OTF");
}
@font-face {
  font-family: "YouSheBiaoTiHei";
  src: url("../font/YouSheBiaoTiHei.ttf");
}
@font-face {
  font-family: "D-DIN";
  src: url("../font/D-DIN.ttf");
}
@font-face {
  font-family: "D-DIN-Bold";
  src: url("../font/D-DIN-Bold.otf");
}
.font1 {
  font-size: 25px;
  font-family: "旁门正道标题体";
}
.font2 {
  font-size: 25px;
  font-family: "优设标题黑";
}
.font3 {
  font-size: 25px;
  font-family: "Digital-7Mono";
}
.font4 {
  font-size: 25px;
  font-family: "DigitsDB-Normal";
}
.font5 {
  font-size: 25px;
  font-family: "DIN-BoldItalicAlt";
}
.font6 {
  font-size: 25px;
  font-family: "DIN-Light";
}
.font7 {
  font-size: 25px;
  font-family: "DIN-Medium";
}
.font8 {
  font-size: 25px;
  font-family: "DIN-Regular";
}
.font9 {
  font-size: 25px;
  font-family: "DINEngschrift-Alternate";
}
.font10 {
  font-size: 25px;
  font-family: "DS-Digital-Bold-Italic";
}
.font11 {
  font-size: 25px;
  font-family: "FZZZHONGJ";
}
.font12 {
  font-size: 25px;
  font-family: "YouSheBiaoTiHei";
}
.font13 {
  font-size: 25px;
  font-family: "D-DIN";
}
.font14 {
  font-size: 25px;
  font-family: "D-DIN-Bold";
}
@keyframes shanshuo {
  0% {
    background: url("../img/faguang.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../img/bufaguang.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.donghua1 {
  width: 100px;
  height: 100px;
  animation-name: shanshuo;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}
@keyframes iconMove {
  0% {
    left: 0;
  }
  100% {
    left: 150px;
  }
}
.iconMoveAnimation {
  width: 50px;
  height: 61px;
  position: absolute;
  background: url("../img/turnrighticon.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: iconMove 2s linear infinite;
}
/* 全局表单form样式 */
.addBtn {
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  background: rgba(56, 230, 111, 0.76);
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  float: right;
  margin-right: 20px;
}
.addBtn:hover {
  box-shadow: 0 0 25px #00dd46 inset;
  background: rgba(56, 230, 111, 0.76);
  color: #ffffff;
}
/* 添加过渡效果样式 slide-right */
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.3s ease;
}
.slide-right-enter-from {
  transform: translateX(-100%);
  opacity: 0;
}
.slide-right-leave-to {
  transform: translateX(100%);
  opacity: 0;
}
/* 添加过渡效果样式 fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.scale-enter-active,
.scale-leave-active {
  transition: all 0.3s ease;
}
.scale-enter-from,
.scale-leave-to {
  transform: scale(0.8);
  opacity: 0;
}
